.foot {

    background-color: #333;
    color: white;
    text-align: center;
    padding: 8rem 1rem;
    margin-top: 6rem;
    border-top: 5px solid #ff6f61;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));   
}

.foot ul {
    list-style: none;
    padding: 0;
}
  
.foot ul li {
    margin-bottom: 10px;
    color: #9ebcef;
    cursor: pointer;
    transition: color 0.3s;
}

.foot h2 {
    margin-bottom: 0.5rem;
}
  
.foot p {
    margin: 0.2rem 0;
}