
.cardrow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
    padding-top: 5rem;
}

.card {
    background-color: rgba(255, 228, 196, 0.536);
    padding: 1rem 1rem;
    border-radius: 12px;
    line-height: 25px;
}