.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff6f61; 
    padding: 1rem 0;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
  }

  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5rem;
    padding: 1rem 0;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
   
  }

  .head div {
    cursor: pointer;
  }
  
  .line {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }


.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 2rem;
    flex-wrap: wrap;
    background-color: rgba(243, 238, 230, 0.95);
    margin-top: 4rem;
    margin-bottom: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 12px;
  }


.main h1 {
    max-width: 600px;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .main div {
    flex: 1;
  }

.slide {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 0.5rem 2rem;
}

.cardrow {
  display:flex;
  flex-direction: row;
  gap: 1rem;
  background-color:rgb(255, 255, 255);
  padding: 1rem;
}

.card {
  background-color: rgba(255, 228, 196, 0.536);
  padding: 1rem 1rem;
  border-radius: 12px;
  line-height: 25px;
}

.foot {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8rem 1rem;
    margin-top: 6rem;
    border-top: 5px solid #ff6f61;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));   
}

  .foot ul {
    list-style: none;
    padding: 0;
  }
  
  .foot ul li {
    margin-bottom: 10px;
    color: #9ebcef;
    cursor: pointer;
    transition: color 0.3s;
  }


.foot h2 {
    margin-bottom: 0.5rem;
  }
  
  .foot p {
    margin: 0.2rem 0;
  }